<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<h1>Simple:</h1>
<form action="/calc" method="POST">
    <input type="text" name="a"/>
    <input type="text" name="b"/>
    <p>
        <button class="btn btn-primary" type="submit" name="plus">+</button>
        <button class="btn btn-primary" type="submit" name="subst">-</button>
        <button class="btn btn-primary" type="submit" name="mult">*</button>
        <button class="btn btn-primary" type="submit" name="divide">/</button>


    </p>

    <h1>Advanced:</h1>
    <input type="text" name="c"/>
    <p>
        <button class="btn btn-primary" type="submit" name="fact">!</button>
        <button class="btn btn-primary" type="submit" name="sqrt">&#8730</button>
        <button class="btn btn-primary" type="submit" name="pow">^</button>

    </p>
    <h1><p th:text="'result: ' + ${result}"/></h1>
</form>
</body>
</html>