<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

        <table border="2" align="center" cellpadding="5" cellspacing="15" rules="all" content="center">

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            
            <tr>
                <span th:text="${result}"></span>
                <br/>
            </tr>
            <br>

            <tr>
                <td><a th:href="'7'" class="btn btn-warning">7</a></td>
                <td><a th:href="'8'" class="btn btn-warning">8</a></td>
                <td><a th:href="'9'" class="btn btn-warning">9</a></td>
                <td><a th:href="'/'" class="btn btn-warning">/</a></td>
            </tr>

            <tr>
                <td><a th:href="'4'" class="btn btn-warning">4</a></td>
                <td><a th:href="'5'" class="btn btn-warning">5</a></td>
                <td><a th:href="'6'" class="btn btn-warning">6</a></td>
                <td><a th:href="'*'" class="btn btn-warning">*</a></td>
            </tr>

            <tr>
                <td><a th:href="'1'" class="btn btn-warning">1</a></td>
                <td><a th:href="'2'" class="btn btn-warning">2</a></td>
                <td><a th:href="'3'" class="btn btn-warning">3</a></td>
                <td><a th:href="'-'" class="btn btn-warning">-</a></td>
            </tr>

            <tr>
                <td><a th:href="'+/-'" class="btn btn-warning">+/-</a></td>
                <td><a th:href="'0'" class="btn btn-warning">0</a></td>
                <td><a th:href="','" class="btn btn-warning">,</a></td>
                <td><a th:href="'+'" class="btn btn-warning">+</a></td>
            </tr>
        </table>


</body>
</html>